<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="search">
            <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" (click)="findUsers()">Search</button>
          </div>
        </div>
        <div class="card-body">
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <app-user
                [userChange]="userChange"
                [login]="login"
                [avatar_url]="avatar_url"
                [name]="name"
                [followers_url]="followers_url"
                [repos_url]="repos_url"
                [starred_url]="starred_url"
                [bio]="bio"
                [location]="location">
              </app-user>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
